<!DOCTYPE html>
<html>
<head>
  <title>Block Explorer</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/milligram/dist/milligram.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
  <main class="wrapper">
    <nav class="navigation">
      <section class="container">
        <a class="navigation-title" href="index.html">
          <h1 class="title">Block Explorer</h1>
        </a>

        <ul class="navigation-list float-right">
          <li class="navigation-item">
            <input type="text" class="search-box" placeholder="Search block, address or transaction"/>
          </li>
          <li class="navigation-item">
            <a class="navigation-link" href="#">Blocks</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link" href="#">Transactions</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link" href="#">About</a>
          </li>
        </ul>
      </section>
    </nav>
  </main>
</body>
</html>